@charset "UTF-8";

@font-face {
  font-family: "proximanova_light", sans-serif;
  src: url("../fonts/proximanova_light.woff2") format("woff2"), url("../fonts/proximanova_light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "proximanova_regular", sans-serif;
  src: url("../fonts/proximanova_regular.woff2") format("woff2"), url("../fonts/proximanova_regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "proximanova_bold", sans-serif;
  src: url("../fonts/proximanova_bold.woff2") format("woff2"), url("../fonts/proximanova_bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "proximanova_boldit", sans-serif;
  src: url("../fonts/proximanova_boldit.woff2") format("woff2"), url("../fonts/proximanova_boldit.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "proximanova_extrabold", sans-serif;
  src: url("../fonts/proximanova_extrabold.woff2") format("woff2"), url("../fonts/proximanova_extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "proximanova_black", sans-serif;
  src: url("../fonts/proximanova_black.woff2") format("woff2"), url("../fonts/proximanova_black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "proximanova_blackit", sans-serif;
  src: url("../fonts/proximanova_blackit.woff2") format("woff2"), url("../fonts/proximanova_blackit.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PPNeueMachina-Light", sans-serif;
  src: url("../fonts/PPNeueMachina-Light.woff2") format("woff2"), url("../fonts/PPNeueMachina-Light.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PPNeueMachina-Regular", sans-serif;
  src: url("../fonts/PPNeueMachina-Regular.woff2") format("woff2"), url("../fonts/PPNeueMachina-Regular.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PPNeueMachina-Ultrabold", sans-serif;
  src: url("../fonts/PPNeueMachina-Ultrabold.woff2") format("woff2"), url("../fonts/PPNeueMachina-Ultrabold.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  font-weight: 400;
  font-size: 20px;
  color: #CDD7DF;
  font-family: "proximanova_regular", sans-serif;
  background: #1F242E;
  overflow-x: hidden;
}

a {
  color: inherit;
  display: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper .main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  font-size: 16px;
  padding: 20px 40px;
  background: #FFFFFF;
  color: #040F24;
  border-radius: 33.5px;
  border: 1px solid #fff;
  transition: all 0.5s;
}

.btn:hover {
  background: #1F242E;
  border: 1px solid rgba(76, 159, 255, 0.25);
  color: #CDD7DF;
}

.btn:active {
  background: linear-gradient(253.09deg, rgba(217, 217, 217, 0.34) -7.53%, rgba(217, 217, 217, 0) 97.04%);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 30;
}

.body-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 25;
}

.body-header__logo {
  margin: 40px 0 45px 0;
}

.body-header__list {
  display: flex;
  justify-content: space-between;
}

.body-header__item {
  font-size: 18px;
  margin: 0 25px;
}

.no-webp .home{
  background: url("../images/home/space.png") top center/100% auto no-repeat; }

.home {
  position: relative;
}

.home__inner {
  background: url("../images/home/light-1.svg") top center/100% auto no-repeat;
}

.home__space--one {
  position: absolute;
  left: -150px;
  top: 15%;
  opacity: 0.3;
  z-index: 5;
  mix-blend-mode: lighten;
}

.home__space--two {
  position: absolute;
  right: -150px;
  opacity: 0.3;
  z-index: 5;
  mix-blend-mode: lighten;
}

.body-home__inner {
  background: url("../images/home/light-1.svg") top center/100% auto no-repeat;
  position: relative;
}

.body-home__column {
  mix-blend-mode: soft-light;
}

.body-home__column:first-child {
  position: absolute;
  top: 250px;
  left: -50px;
}

.no-webp .body-home__column:last-child{
  background: url("../images/home/space-1.png") 0 0 no-repeat; }

.body-home__column:last-child .body-home__image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.info-home {
  padding: 150px 0 1000px 0;
  position: relative;
}

.no-webp .info-home::before, .no-webp .info-home::after{
  background: url("../images/home/info/text-1.png") 0 0 no-repeat; }

.info-home::before,
.info-home::after {
  content: "";
  position: absolute;
  bottom: 800px;
  max-width: 904px;
  max-height: 310px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.no-webp .info-home::after{
  background: url("../images/home/info/text-2.png") 0 0 no-repeat; }

.info-home::after {
  right: 0;
}

.info-home__inner {
  position: relative;
}

.no-webp .info-home__inner::after{
  background: rgba(255, 255, 255, 0.184) url("../images/home/info/info-bg.png") 0 0/100% 100% no-repeat; }

.info-home__inner::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 35px;
  mix-blend-mode: color-dodge;
  z-index: 1;
}

.info-home__box {
  position: relative;
  display: flex;
  z-index: 10;
  mix-blend-mode: normal;
}

.info-home__column:first-child {
  padding: 95px 0 0 60px;
}

.no-webp .info-home__column:last-child{
  background: url("../images/home/info/phone-1.png") 100% 100%/contain no-repeat; }

.info-home__column:last-child {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  width: 100%;
  border-radius: 0 0 35px 0;
}

.info-home__mark {
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  margin-bottom: 20px;
  padding-left: 40px;
  position: relative;
}

.info-home__mark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 30px;
  background: url("../images/home/lock.svg") 0 0 no-repeat;
}

.info-home__title {
  font-weight: 800;
  font-size: 55px;
  line-height: 110%;
  max-width: 900px;
  text-transform: uppercase;
  font-family: "PPNeueMachina", sans-serif;
  margin-bottom: 40px;
}

.info-home__title span {
  color: rgb(137, 213, 255);
}

.info-home__items {
  position: relative;
  display: flex;
  align-items: center;
  padding: 35px 0;
  margin-bottom: 35px;
}

.info-home__items::after,
.info-home__items::before {
  content: "";
  position: absolute;
  max-width: 752px;
  height: 2px;
  width: 100%;
  background: url("../images/home/info/line.svg") 0 0 no-repeat;
}

.info-home__items::after {
  top: 0;
}

.info-home__items::before {
  bottom: 0;
}

.info-home__item + .info-home__item {
  margin-left: -20px;
}

.info-home__row {
  margin-left: 40px;
}

.info-home__number {
  margin-bottom: 10px;
  font-size: 27px;
}

.info-home__popup {
  margin-bottom: 110px;
}

.info-home__popup-line {
  display: flex;
  align-items: center;
}

.info-home__popup-btn {
  display: flex;
}

.info-home__link {
  position: relative;
  width: 130px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: conic-gradient(from 158.98deg at 46% 54.2%, #8BDDFA 0deg, #5AB1E0 172.5deg, #8BDDFA 360deg);
  border-radius: 50%;
  margin-left: -60px;
  border: 1px solid #fff;
}

.info-home__link::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 32px;
  left: 50%;
  transform: translateX(-40%);
  background: url("../images/home/info/play.svg") 0 0 no-repeat;
}

.info-home__link::before {
  content: "";
  position: absolute;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  transform: rotate(-30deg);
  top: 0;
  left: 0;
  background: url("../images/home/info/play-bg.svg") center/cover no-repeat;
}

.info-home__popup-text {
  max-width: 365px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-left: 25px;
}

.no-webp .money-home__items{
  background: url("../images/home/info/phone.png") 67% 65% no-repeat; }

.money-home__items {
  display: flex;
  align-items: center;
  height: 100%;
}

.money-home__item {
  padding: 30px 25px;
}

.no-webp .money-home__item:first-child{
  background: url("../images/home/info/bin-bg-1.jpg") 0 0/cover no-repeat; }

.money-home__item:first-child {
  border-radius: 50px;
  transform: scale3d(0.8, 0.8, 0.8);
}

.no-webp .money-home__item:last-child{
  background: url("../images/home/info/bin-bg-2.jpg") 0 0/cover no-repeat; }

.money-home__item:last-child {
  border-radius: 50px;
}

.money-home__profit {
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 40px;
  color: #fff;
}

.money-home__line {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.money-home__price {
  margin: 0 0 10px 10px;
}

.about {
  position: relative;
  margin: -800px 0 150px 0;
}

.about::after {
  content: "";
  position: absolute;
  max-width: 1508.09px;
  max-height: 1282.31px;
  width: 100%;
  height: 100%;
  top: -250px;
  left: 40%;
  background: url("../images/about/bubble-bg.svg") 0 0 no-repeat;
  mix-blend-mode: color-dodge;
}

.about__bubble {
  position: absolute;
  left: 50%;
  top: -25%;
  mix-blend-mode: hard-light;
}

.about__items {
  display: flex;
  position: relative;
  justify-content: space-around;
  z-index: 15;
  margin-bottom: 50px;
}

.no-webp .about__item{
  background: url("../images/about/1.png") center bottom no-repeat; }

.about__item {
  height: 670px;
  border-radius: 33px;
  margin: 0 5px;
  padding: 50px 40px 0 40px;
  border: 1px solid rgba(136, 94, 239, 0.25);
  max-width: 643px;
}

.no-webp .about__item:nth-child(2){
  background: url("../images/about/2.png") center bottom no-repeat; }

.about__item:nth-child(2) {
  max-width: 378px;
}

.no-webp .about__item:nth-child(3){
  background: url("../images/about/3.png") center bottom no-repeat; }

.about__item:nth-child(3) {
  max-width: 503px;
}

.about__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  max-width: 400px;
  margin-bottom: 25px;
}

.about__text {
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 25px;
}

.about__play {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__play-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 82px;
  background: linear-gradient(158.98deg, #4C9FFF 13.95%, #D2C0FF 49.55%, #B799FF 76.45%);
  box-shadow: inset 0px 4px 32px rgba(255, 255, 255, 0.25);
  border-radius: 50%;
}

.about__play-btn::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  transform: translateX(20%);
  background: url("../images/about/play.svg") 0 0 no-repeat;
}

.about__play-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  max-width: 160px;
}

.top-about {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.top-about__title {
  max-width: 950px;
  font-weight: 800;
  font-size: 55px;
  line-height: 110%;
  text-transform: uppercase;
  margin: 40px 0 60px 0;
}

.top-about__text {
  position: relative;
  font-size: 24px;
  line-height: 150%;
  max-width: 381px;
  padding-top: 40px;
}

.top-about__text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 34px;
  background: url("../images/about/time.svg") 0 0 no-repeat;
}

.line-about {
  display: flex;
  align-items: center;
}

.line-about__btn {
  display: inline-block;
  position: relative;
  font-size: 24px;
  line-height: 160%;
  padding: 30px 50px;
  border-radius: 50px;
  z-index: 25;
}

.line-about__text {
  font-size: 20px;
  line-height: 150%;
  max-width: 640px;
  margin-left: 40px;
}

.reasons {
  position: relative;
}

.no-webp .reasons::after{
  background: url("../images/reasons/bubble.png") right no-repeat; }

.reasons::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -300px;
  right: 0;
  mix-blend-mode: color-dodge;
}

.no-webp .reasons::before{
  background: url("../images/reasons/bubble-bg.png") right no-repeat; }

.reasons::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -300px;
  right: 0;
  mix-blend-mode: color-dodge;
}

.reasons__title {
  font-weight: 800;
  font-size: 55px;
  line-height: 110%;
  text-transform: uppercase;
  font-family: "PPNeueMachina-Ultrabold", sans-serif;
  max-width: 1400px;
  margin-bottom: 60px;
}

.body-reasons {
  display: flex;
}

.body-reasons__column + .body-reasons__column {
  margin-left: 150px;
}

.body-reasons__item {
  position: relative;
  max-width: 500px;
  padding-left: 40px;
}

.body-reasons__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 75px;
  width: 1px;
  background: url("../images/reasons/line.svg") 0 0 no-repeat;
}

.body-reasons__item + .body-reasons__item {
  margin-top: 150px;
}

.body-reasons__title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 32px;
}

.body-reasons__text {
  line-height: 150%;
}

.slider-reasons {
  position: absolute;
  top: 45%;
  left: -10%;
  width: 130%;
  display: flex;
  justify-content: space-around;
  background-color: rgba(16, 30, 34, 0.571);
  -webkit-backdrop-filter: blur(10.5px);
          backdrop-filter: blur(10.5px);
  padding: 30px 0;
  transform: rotate(350deg);
  z-index: 1;
}

.slider-reasons__slide-text {
  line-height: 170%;
  letter-spacing: 2px;
  position: relative;
}

.slider-reasons__slide-text::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -50%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
}

.advices-reasons {
  position: relative;
  display: flex;
  justify-content: space-around;
  background-color: rgba(199, 219, 226, 0.219);
  -webkit-backdrop-filter: blur(10.5px);
          backdrop-filter: blur(10.5px);
  width: 100%;
  padding: 30px 0;
  margin-top: 50px;
  z-index: 5;
  margin-bottom: 200px;
}

.no-webp .advices-reasons::before, .no-webp .advices-reasons::after{
  background: url("../images/home/info/text-1.png") 0 0 no-repeat; }

.advices-reasons::before,
.advices-reasons::after {
  content: "";
  position: absolute;
  bottom: 800px;
  max-width: 904px;
  max-height: 310px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.no-webp .advices-reasons::after{
  background: url("../images/home/info/text-2.png") 0 0 no-repeat; }

.advices-reasons::after {
  right: 0;
}

.advices-reasons__advice-text {
  line-height: 170%;
  letter-spacing: 2px;
  position: relative;
}

.advices-reasons__advice-text::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -80px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
}

.bubbles-reasons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bubbles-reasons::after {
  content: "";
  position: absolute;
  top: -85%;
  width: 100%;
  height: 240%;
  background: url("../images/reasons/bg.svg") top center/100% auto no-repeat;
  z-index: 1;
  mix-blend-mode: color;
}

.bubbles-reasons__items {
  display: flex;
  margin-right: 150px;
}

.bubbles-reasons__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: hard-light;
}

.bubbles-reasons__item:first-child {
  margin-bottom: auto;
}

.bubbles-reasons__item:first-child::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  transform: translateX(10%);
  background: url("../images/reasons/btc.svg") 0 0 no-repeat;
}

.bubbles-reasons__item:last-child {
  margin-top: auto;
}

.bubbles-reasons__item:last-child::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  transform: translateX(10%);
  background: url("../images/reasons/eth.svg") 0 0 no-repeat;
}

.no-webp .bubbles-reasons__item-bubble{
  background: url("../images/reasons/big-bubble.png") top center no-repeat; }

.bubbles-reasons__item-bubble {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  max-width: 700px;
  width: 100%;
}

.bubbles-reasons__item-bubble::after,
.bubbles-reasons__item-bubble::before {
  content: "";
  position: absolute;
  height: 200px;
  width: 1px;
}

.bubbles-reasons__text {
  text-align: center;
  max-width: 437px;
  padding-top: 70px;
  font-size: 20px;
  line-height: 170%;
  position: relative;
}

.bubbles-reasons__text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 40px;
  width: 80px;
  transform: translateX(-25%);
  background: url("../images/reasons/parentheses.svg") 0 0 no-repeat;
}

.sentence {
  position: relative;
  padding-top: 200px;
}

.no-webp .sentence::after{
  background: url("../images/sentence/text-1.png") 0 0 no-repeat; }

.sentence::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 904px;
  height: 340px;
}

.no-webp .sentence::before{
  background: url("../images/sentence/text-2.png") 0 0 no-repeat; }

.sentence::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 804px;
  height: 340px;
}

.sentence__title {
  text-align: center;
  font-size: 55px;
  line-height: 110%;
  font-weight: 800;
  text-transform: uppercase;
  max-width: 1400px;
  margin: 0 auto 60px auto;
}

.body-sentence__inner {
  position: relative;
  border-radius: 50px;
}

.no-webp .body-sentence__inner::after{
  background: url("../images/sentence/bg.png") 0 0/100% 100% no-repeat; }

.body-sentence__inner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.65;
  border-radius: 50px;
  mix-blend-mode: hard-light;
}

.no-webp .body-sentence__inner::before{
  background: url("../images/sentence/stars.png") 0 0/100% 100% no-repeat; }

.body-sentence__inner::before {
  content: "";
  position: absolute;
  width: 65%;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 0 50px 0 0;
  mix-blend-mode: color-dodge;
  z-index: 5;
}

.body-sentence__box {
  position: relative;
  padding: 90px 0 20px 80px;
  z-index: 8;
}

.no-webp .body-sentence__box::after{
  background: url("../images/sentence/btc.png") 0 0/100% 100% no-repeat; }

.body-sentence__box::after {
  content: "";
  position: absolute;
  width: 55%;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 50px;
  filter: grayscale(70%);
}

.body-sentence__box::before {
  content: "";
  position: absolute;
  width: 98%;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 50px;
  background: url("../images/sentence/blick.svg") 0 0/100% 100% no-repeat;
  z-index: 9;
  mix-blend-mode: hard-light;
}

.body-sentence__column {
  position: relative;
  z-index: 10;
}

.body-sentence__column:last-child {
  position: absolute;
  bottom: 10%;
  left: 35%;
  margin-top: -25px;
}

.body-sentence__items {
  display: flex;
  flex-wrap: wrap;
}

.body-sentence__item {
  margin-bottom: 50px;
  max-width: 550px;
  width: 100%;
}

.body-sentence__line {
  display: flex;
}

.body-sentence__image {
  background: #fff;
  border-radius: 50%;
  margin-bottom: 20px;
  overflow: scroll;
}

.body-sentence__image + .body-sentence__image {
  margin-left: -20px;
}

.body-sentence__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  margin-bottom: 15px;
}

.body-sentence__img img {
  border-radius: 0;
  transform: translateY(45%);
}

.body-sentence__text {
  max-width: 450px;
  line-height: 180%;
}

.body-sentence__button {
  position: relative;
  padding-left: 80px;
}

.body-sentence__button::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 30px;
  top: 50%;
  left: 0;
  border-radius: 50px;
  background: url("../images/sentence/arrow.svg") 0 0 no-repeat;
}

.body-sentence__btn {
  display: block;
  font-size: 24px;
  line-height: 160%;
  padding: 35px 80px;
  border-radius: 50px;
}

.no-webp .galaxy-sentence{
  background: url("../images/sentence/logo-bg.png") 0 0 no-repeat; }

.galaxy-sentence {
  margin: 60px 0 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1572px;
  max-height: 287px;
  width: 100%;
  height: 100%;
}

.opportunities__title {
  position: relative;
  text-align: center;
  margin: 0 auto;
  font-size: 55px;
  line-height: 110%;
  text-transform: uppercase;
  max-width: 720px;
  padding-bottom: 90px;
}

.opportunities__title::before {
  content: "";
  position: absolute;
  height: 65px;
  width: 1px;
  bottom: 5%;
  left: 50%;
  background: url("../images/opportunities/line.svg") 0 0 no-repeat;
}

.opportunities__text {
  text-align: center;
  margin: 0 auto 60px auto;
  max-width: 420px;
  line-height: 150%;
}

.sliders-opportunities__slide {
  position: relative;
  padding: 12px;
  border-radius: 35px;
  max-width: 380px;
  min-height: 440px;
  border: 1px solid rgba(76, 159, 255, 0.25);
  margin: 0 10px 40px 10px;
  transition: all 0.3s;
}

.sliders-opportunities__slide:hover::before {
  content: "";
  position: absolute;
  width: 622.37px;
  height: 721.97px;
  bottom: 0;
  transition: all 0.3s;
  background: url("../images/opportunities/vector.svg") 0 0/contain no-repeat;
}

.sliders-opportunities__image {
  border-radius: 35px;
}

.sliders-opportunities__title {
  font-size: 24px;
  line-height: 120%;
  font-weight: 700;
  margin: 40px 0 20px 30px;
}

.sliders-opportunities__text {
  margin-left: 30px;
  width: 240px;
  font-size: 16px;
  line-height: 150%;
}

.sliders-opportunities__line {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.sliders-opportunities__btn {
  display: block;
  font-size: 24px;
  line-height: 160%;
  padding: 35px 80px;
  border-radius: 50px;
}

.sliders-opportunities__btn-text {
  max-width: 570px;
  margin-left: 45px;
}

.no-webp .necessary{
  background: url("../images/necessary/bg.png") 0 0/100% 100% no-repeat; }

.necessary {
  position: relative;
  margin-bottom: 100px;
}

.necessary__inner {
  position: relative;
}

.necessary__inner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 130%;
  top: -10%;
  left: 0;
  background: url("../images/necessary/bubble-left-bg.svg") 0 0 no-repeat;
  mix-blend-mode: color-dodge;
}

.necessary__inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 170%;
  top: 30%;
  right: 0;
  background: url("../images/necessary/bubble-right-bg.svg") right no-repeat;
  mix-blend-mode: color-dodge;
  z-index: 15;
}

.no-webp .necessary::after{
  background: url("../images/necessary/bubble-left.png") left no-repeat; }

.necessary::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -10%;
  left: 0;
  mix-blend-mode: overlay;
}

.no-webp .necessary::before{
  background: url("../images/necessary/bubble-right.png") right bottom no-repeat; }

.necessary::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30%;
  right: 0;
  mix-blend-mode: overlay;
  z-index: 15;
}

.necessary__title {
  position: relative;
  max-width: 760px;
  font-weight: 800;
  font-size: 55px;
  line-height: 110%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 110px;
}

.necessary__title::before {
  content: "";
  position: absolute;
  height: 65px;
  width: 1px;
  bottom: 5%;
  left: 50%;
  background: url("../images/necessary/line.svg") 0 0 no-repeat;
}

.necessary__text {
  max-width: 420px;
  text-align: center;
  margin: 0 auto;
  line-height: 150%;
  margin-bottom: 60px;
}

.body-necessary {
  position: relative;
}

.body-necessary__inner {
  position: relative;
  display: flex;
  justify-content: center;
}

.body-necessary__column {
  width: 100%;
}

.body-necessary__column:first-child {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-right: 10px;
}

.no-webp .body-necessary__column:first-child::after{
  background: url("../images/necessary/right-bg.png") 0 0/100% 100% no-repeat; }

.body-necessary__column:first-child::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.body-necessary__column:last-child {
  position: relative;
  margin-left: 10px;
}

.no-webp .body-necessary__column:last-child::before{
  background: url("../images/necessary/left-bg.png") 0 0/100% 100% no-repeat; }

.body-necessary__column:last-child::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.body-necessary__title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 110%;
}

.body-necessary__items {
  position: relative;
  margin-bottom: 160px;
  z-index: 10;
  padding: 90px 90px 0 90px;
}

.body-necessary__item {
  margin-bottom: 50px;
  max-width: 400px;
}

.body-necessary__item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 20px;
  max-width: 320px;
}

.body-necessary__text {
  font-size: 16px;
  line-height: 150%;
}

.no-webp .cryptospace{
  background: url("../images/cryptospace/bg.png") center/100% no-repeat; }

.cryptospace {
  text-align: center;
  position: relative;
  z-index: 25;
  padding-bottom: 200px;
}

.cryptospace__mark {
  display: inline-block;
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  margin-bottom: 30px;
  padding-left: 35px;
  position: relative;
}

.cryptospace__mark::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 30px;
  left: 0;
  top: 0;
  background: url("../images/cryptospace/lock.svg") 0 0 no-repeat;
}

.cryptospace__title {
  font-weight: 800;
  font-size: 55px;
  line-height: 110%;
  margin-bottom: 50px;
}

.cryptospace__text {
  font-size: 16px;
  line-height: 150%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.cryptospace__form {
  margin-bottom: 14px;
}

.cryptospace__consent {
  font-size: 12px;
  line-height: 150%;
}

.cryptospace__consent a {
  text-decoration: underline;
}

.cryptospace__consent a:hover {
  text-decoration: none;
}

.form-cryptospace {
  position: relative;
  z-index: 25;
}

.form-cryptospace__input {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 11px;
  background: transparent;
  padding: 30px 20px;
  color: #CDD7DF;
}

.form-cryptospace__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.2);
}

.form-cryptospace__input::placeholder {
  color: rgba(255, 255, 255, 0.2);
}

.form-cryptospace__btn {
  background: linear-gradient(253.09deg, rgba(217, 217, 217, 0.49) -7.53%, rgba(217, 217, 217, 0) 97.04%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.93);
  opacity: 0.92;
  padding: 30px 80px;
  border-radius: 11px;
  -webkit-backdrop-filter: blur(83.5px);
          backdrop-filter: blur(83.5px);
  cursor: pointer;
}

.info-cryptospace {
  position: relative;
  transform: rotate(-6.51deg);
  padding: 500px 0;
}

.info-cryptospace__items {
  position: absolute;
  display: flex;
  justify-content: space-around;
  background-color: rgba(199, 219, 226, 0.119);
  -webkit-backdrop-filter: blur(10.5px);
          backdrop-filter: blur(10.5px);
  width: 120%;
  padding: 30px 0;
  margin-top: 50px;
  z-index: 5;
  left: -5%;
}

.info-cryptospace__item {
  position: relative;
  text-transform: uppercase;
}

.info-cryptospace__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -35%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
}

.teachers {
  text-align: center;
  margin-top: -200px;
}

.teachers__title {
  font-weight: 800;
  font-size: 55px;
  line-height: 110%;
  position: relative;
  padding-bottom: 90px;
}

.teachers__title::before {
  content: "";
  position: absolute;
  height: 65px;
  width: 1px;
  bottom: 5%;
  left: 50%;
  background: url("../images/teachers/line.svg") 0 0 no-repeat;
}

.teachers__text {
  max-width: 420px;
  line-height: 150%;
  margin: 0 auto;
  margin-bottom: 70px;
}

.slider-teachers {
  margin-bottom: 170px;
}

.slider-teachers__item {
  padding: 22px 12px 0 12px;
  border: 1px solid rgba(76, 159, 255, 0.25);
  border-radius: 40px;
  max-width: 380px;
  min-height: 750px;
  text-align: start;
  margin: 0 10px;
}

.slider-teachers__image {
  border-radius: 40px;
}

.slider-teachers__name {
  margin: 50px 0 20px 30px;
}

.slider-teachers__text {
  font-size: 16px;
  line-height: 150%;
  width: 260px;
  margin-left: 30px;
}

.answers {
  margin-bottom: 100px;
}

.answers__title {
  font-weight: 800;
  font-size: 55px;
  line-height: 110%;
  text-align: center;
  margin-bottom: 50px;
}

.body-answers__item {
  padding: 45px 50px;
  -webkit-backdrop-filter: blur(83.5px);
          backdrop-filter: blur(83.5px);
  background: rgba(217, 217, 217, 0.1);
  border-radius: 33px;
  margin-bottom: 15px;
  transition: all 0.3s;
}

.body-answers__item p {
  display: none;
}

.body-answers__item--active p {
  display: block;
}

.body-answers__item--active .body-answers__title::before {
  content: "Закрыть";
  color: #fff;
  background: rgba(217, 217, 217, 0.1);
}

.body-answers__title {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  cursor: pointer;
}

.body-answers__title::before {
  content: "Ответ";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 300;
  width: 114px;
  height: 52px;
  border: 1px solid rgba(76, 159, 255, 0.25);
  right: 0;
  border-radius: 50px;
  background-color: #fff;
  color: #040F24;
}

.body-answers__text {
  transition: all 0.3s;
  margin-top: 30px;
}

.comments__title {
  text-align: center;
  font-weight: 800;
  font-size: 55px;
  line-height: 110%;
  max-width: 704px;
  margin: 0 auto 40px auto;
}

.comments__box {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.comments__btn {
  display: block;
  font-size: 24px;
  line-height: 160%;
  padding: 35px 80px;
  border-radius: 50px;
}

.comments__text {
  max-width: 570px;
  margin-left: 45px;
}

.slider-comments__items {
  margin-bottom: 40px;
}

.slider-comments__item {
  padding: 22px 12px;
  min-height: 500px;
  max-width: 350px;
  border-radius: 29px;
  border: 1px solid rgba(76, 159, 255, 0.25);
  margin: 0 10px;
}

.slider-comments__box {
  min-height: 500px;
  max-width: 350px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 29px;
  background: #36393F;
}

.join {
  position: relative;
}

.no-webp .join::after, .no-webp .join::before{
  background: url("../images/join/alt-1.png") 0 0 no-repeat; }

.join::after,
.join::before {
  content: "";
  position: absolute;
  width: 135px;
  height: 192px;
  filter: grayscale(100%);
}

.join::after {
  top: 0;
  left: 0;
}

.no-webp .join::before{
  background: url("../images/join/alt-2.png") 0 0 no-repeat; }

.join::before {
  width: 200px;
  height: 321px;
  bottom: 0;
  right: 0;
}

.body-join {
  display: flex;
  position: relative;
}

.no-webp .body-join::after{
  background: url("../images/join/btc.png") center no-repeat; }

.body-join::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 130%;
  right: -20%;
  top: 0;
  mix-blend-mode: hard-light;
  filter: grayscale(100%);
}

.body-join::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 274%;
  right: -17%;
  top: -100%;
  mix-blend-mode: color-dodge;
  background: url("../images/join/btc-bg.svg") 0 0 no-repeat;
  z-index: 2;
}

.body-join__title {
  max-width: 697px;
  font-weight: 800;
  font-size: 55px;
  line-height: 110%;
  text-transform: uppercase;
}

.body-join__btn {
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
}

.info-join__items {
  display: flex;
  justify-content: space-around;
  background-color: rgba(199, 219, 226, 0.118);
  -webkit-backdrop-filter: blur(10.5px);
          backdrop-filter: blur(10.5px);
  width: 120%;
  padding: 30px 0px;
  margin-top: 50px;
  z-index: 5;
  left: -5%;
}

.info-join__item {
  position: relative;
}

.info-join__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -50%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.footer__text {
  font-size: 16px;
  line-height: 150%;
  max-width: 1250px;
}

.webp .home{ background: url(../images/home/space.webp) top center/100% auto no-repeat; }

.webp .body-home__column:last-child{ background: url(../images/home/space-1.webp) 0 0 no-repeat; }

.webp .info-home::before, .webp .info-home::after{ background: url(../images/home/info/text-1.webp) 0 0 no-repeat; }

.webp .info-home::after{ background: url(../images/home/info/text-2.webp) 0 0 no-repeat; }

.webp .info-home__inner::after{ background: rgba(255, 255, 255, 0.184) url(../images/home/info/info-bg.webp) 0 0/100% 100% no-repeat; }

.webp .info-home__column:last-child{ background: url(../images/home/info/phone-1.webp) 100% 100%/contain no-repeat; }

.webp .money-home__items{ background: url(../images/home/info/phone.webp) 67% 65% no-repeat; }

.webp .money-home__item:first-child{ background: url(../images/home/info/bin-bg-1.webp) 0 0/cover no-repeat; }

.webp .money-home__item:last-child{ background: url(../images/home/info/bin-bg-2.webp) 0 0/cover no-repeat; }

.webp .about__item{ background: url(../images/about/1.webp) center bottom no-repeat; }

.webp .about__item:nth-child(2){ background: url(../images/about/2.webp) center bottom no-repeat; }

.webp .about__item:nth-child(3){ background: url(../images/about/3.webp) center bottom no-repeat; }

.webp .reasons::after{ background: url(../images/reasons/bubble.webp) right no-repeat; }

.webp .reasons::before{ background: url(../images/reasons/bubble-bg.webp) right no-repeat; }

.webp .advices-reasons::before, .webp .advices-reasons::after{ background: url(../images/home/info/text-1.webp) 0 0 no-repeat; }

.webp .advices-reasons::after{ background: url(../images/home/info/text-2.webp) 0 0 no-repeat; }

.webp .bubbles-reasons__item-bubble{ background: url(../images/reasons/big-bubble.webp) top center no-repeat; }

.webp .sentence::after{ background: url(../images/sentence/text-1.webp) 0 0 no-repeat; }

.webp .sentence::before{ background: url(../images/sentence/text-2.webp) 0 0 no-repeat; }

.webp .body-sentence__inner::after{ background: url(../images/sentence/bg.webp) 0 0/100% 100% no-repeat; }

.webp .body-sentence__inner::before{ background: url(../images/sentence/stars.webp) 0 0/100% 100% no-repeat; }

.webp .body-sentence__box::after{ background: url(../images/sentence/btc.webp) 0 0/100% 100% no-repeat; }

.webp .galaxy-sentence{ background: url(../images/sentence/logo-bg.webp) 0 0 no-repeat; }

.webp .necessary{ background: url(../images/necessary/bg.webp) 0 0/100% 100% no-repeat; }

.webp .necessary::after{ background: url(../images/necessary/bubble-left.webp) left no-repeat; }

.webp .necessary::before{ background: url(../images/necessary/bubble-right.webp) right bottom no-repeat; }

.webp .body-necessary__column:first-child::after{ background: url(../images/necessary/right-bg.webp) 0 0/100% 100% no-repeat; }

.webp .body-necessary__column:last-child::before{ background: url(../images/necessary/left-bg.webp) 0 0/100% 100% no-repeat; }

.webp .cryptospace{ background: url(../images/cryptospace/bg.webp) center/100% no-repeat; }

.webp .join::after, .webp .join::before{ background: url(../images/join/alt-1.webp) 0 0 no-repeat; }

.webp .join::before{ background: url(../images/join/alt-2.webp) 0 0 no-repeat; }

.webp .body-join::after{ background: url(../images/join/btc.webp) center no-repeat; }